*{
    margin: 30px;
}
h3{
    border: 1px solid ;
    border-radius: 50px;
    padding: 10px;
}
header, .title, li{
    font-family: 'Abril Fatface';
}

.colors, .fonts, .text-styles{
    border: 1px solid #8e8f91;
    text-align: center;
}

.colors ul li{
    text-decoration: none;
    display: inline-block;
    padding: 60px 80px;
    color: #f1f1f5;
}

#color1{
    background-color: #ff7518;
}

#color2{
    background-color: #de6513;
}

#color3{
    background-color: #be550f;
}

#color4{
    background-color: #9e460a;
}

.fonts{
    font-size: 30px;
}

.nosifer{
    font-family: Nosifer;
}

.butcherman{
    font-family: Butcherman;
}

.rubik-puddles{
    font-family:'Rubik Puddles';
}

.bold{
    font-weight: bolder;
}

.italic{
    font-style: italic;
}